/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --color-lighting: hsl(0, 0%, 34%);
    --color-hova: hsl(0, 0%, 63%);
    --color-lighter: hsl(123, 100%, 23%);
    --color-light: hsl(0, 0%, 100%);
    --color-gray: hsl(0, 0%, 16%);
    --color-dark: hsl(360, 10%, 10%);
    --color-dark-transparent: hsla(360, 10%, 10%, 0.2);

    --step--1: clamp(0.94rem, calc(0.94rem + 0vw), 0.94rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.24rem + 0.55vw), 1.67rem);
    --step-2: clamp(1.62rem, calc(1.41rem + 1.05vw), 2.22rem);

    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
    --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);

    --space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);

    --space-4xl-5xl: clamp(7.88rem, calc(7.14rem + 3.7vw), 10rem);
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: 'Suez One', serif;
    letter-spacing: 2px;
    
    font-size: 25px
}

h1 {
    font-size: var(--step-2);
    text-transform: uppercase;
    font-weight: 700;
    max-width: 20ch;
}

a:hover{
    color: rgb(113, 0, 106)
}
a{
    color: rgb(0, 132, 11);
}

/* göm audio, används för att preloada ljudet */
audio {
    display: none;
}

.container {
    width: min(80ch, 100vw - var(--space-l-xl));
    margin-inline: auto;
}

.footer {
    --min: 30ch;

    margin-top: auto;
    padding: var(--space-l-xl) 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
    gap: var(--space-s-m);
}
.footer > * {
    font-size: var(--step--1);
}
.hero {
    display: grid;
    grid-template-areas: 'stack';
}

.hero-gradient {
    grid-area: stack;
    place-self: end;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        var(--color-dark),
        var(--color-dark-transparent)
    );
}

.hero > picture {
    place-self: center;
    grid-area: stack;
    width: 100%;
    height: 100%;
}

.hero img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.hero-content {
    grid-area: stack;
    place-self: end;
    padding: var(--space-m-l) 0;
    color: var(--color-light);
}

@media (max-width: 30rem) {
    .lead {
        display: none;
    }
    .hero > picture {
        max-height: 15vh;
    }
}

.game {
    margin-top: var(--space-m-l);
}

/* flex och space between ordnar layouten för speldata och knappen på desktop */
.game-hud {
    display: flex;
    justify-content: space-between;
}

.game-currency {
    list-style: none;
    padding: 0;
}

/* game-currency är en lista med list items */
.item > h3 {
    display: flex;
    justify-content: space-between;
    gap: var(--space-xs-s);
}

@media (max-width: 30rem) {
    .game-hud {
        flex-direction: column-reverse;
    }
    .game-controls {
        place-self: center;
    }
}

/* för spelelementet används #id som selektor för att skapa css reglerna */
#game-button {
    width: var(--space-4xl-5xl);
    height: var(--space-4xl-5xl);
    font-size: var(--step-2);
    background: url('../img/bitcoingif.gif');
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    border-color: var(--color-lighter);;
    color: var(--color-light);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border-style: solid;
    border-radius: 25px;
    padding: 20px;
    width: 150px;
    height: 150px;
    background-color: black
    
}

#game-button:hover {
 
    background-color: var(--color-dark);;
}

#game-button:active {
    background-color: var(--color-dark-transparent);
    background-image: var(--color-dark-transparent);
}

/* #msgbox är elementet som visar sidans toasts, popupmeddelanden
* fixed fungerar liknande absolute för att positionera element på ett fast ställe
* vi använder måttet vmin som skalas efter webbläsarens storlek
*/
#msgbox {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    min-width: 16rem;
}

#msgbox > p {
    margin-bottom: var(--space-xs-s);
    padding: var(--space-xs-s);
}


#upgradelist {
    column-count: 2;
}
/* de här klasserna används för att bestämma stilen på de olika storternas
 * meddelanden. Javascript används för att lägga till stilen på meddelandet
 */
.warning {
    background-color: rgb(255, 81, 81);
}

.success {
    background-color: rgb(0, 250, 17);
}

.achievement {
    color: var(--color-light);
    background-color: rgb(5, 12, 206);
}

/* dessa kort används för spelets uppgraderingar 
 * lägg märke till padding och margin för att ge elementen lite luft och 
 * skapa en mer lättläst struktur
 */
.card {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: 2px solid var(--color-lighter);
    margin: var(--space-xs-s) 0;
    padding: var(--space-m-l) var(--space-xs-s);
}

.grafik {
    background: url('../img/grafik.gif');
    background-size: 600px 250px;
    size-adjust: 100px;
    color: white;
}

.grafik:hover {
    color: var(--color-hova);
}


.doge {
    background: url('../img/dogge.jpg');
    background-size: 550px 170px;
    size-adjust: 100px;
    color: white;
}

.doge:hover {
    color: var(--color-hova);
}


.nft {
    background: url('../img/nft2.gif');
    background-size: 600px 135px;
    size-adjust: 100px;
    color: white;
}

.nft:hover {
    color: var(--color-hova);
}



.bitcoin {
    background: url('../img/bit.jpg');
    background-size: 620px 250px;
    size-adjust: 100px;
    color: white;
}

.bitcoin:hover {
    color: var(--color-hova);
}

.trojan {
    background: url('../img/trojan.gif');
    background-size: cover;
    size-adjust: 20px;
    color: white;
}

.trojan:hover {
    color: var(--color-hova);
}

.box4 {
    background: url('../img/fye.jpg');
    background-size: cover;
    size-adjust: 20px;
    color: white;
}

.box4:hover {
    color: var(--color-hova);
}
.card p:not(.title) {
    text-align: end;
}
/* klassen används på kortets titel, font-weight: 600 gör fonten fetare, en normal
 * font vikt är oftast 400
 */
.title {
    font-weight: 600;
}

h2 {
    font-size: 32px;
}

h1 {
    font-size: 60px;
}

/* animation och klass för att blinka texten */

@keyframes flash {
    0% {
        color: var(--color-light);
    }
    50% {
        color: var(--color-lighting);
    }
    100% {
        color: var(--color-light);
    }
}

.active {
    animation: flash 1s infinite;
    
}
